<br></br>
<center><p><%= @lovername.capitalize %>,</p><center>
<center><p>Je t'aime de tout mon coeur.</p></center>
&nbsp;
<center><img src="/20.jpg" class="img-rounded"/></center>
<br></br>

<center><p><%= @name.capitalize %> x</p></center>

&nbsp;