&nbsp;
<center><p><%= @lovername.capitalize %>,</p><center>
<center><p>Que mes baisers soient les mots d'amour que je ne te dis pas.</p></center>
&nbsp;
<center><img src="/4.1.jpg" class="img-rounded"/></center>
&nbsp;
&nbsp;

<center><p><%= @name.capitalize %> x</p></center>