&nbsp;
<center><p><%= @lovername.capitalize %>,</p></center>
<center><p>Le ciel bleu sur nous peut s'effondrer</p></center>
<center><p>Et la terre peut bien s'écrouler;</p></center>
<center><p>Peu m'importe si tu m'aimes.</p></center>
&nbsp;
<center><img src="/1.4.png" class="img-rounded"/></center>
&nbsp;
<center><p><%= @name.capitalize %> x</p></center>
