&nbsp;
<br></br>

<center><h3 style='font-family: Lobster'>Step 2: Choose a message</h3></center>

<br></br>

<center>

  <h5 class="text-center" style='font-family:Cabin'>"Je t'aime de tout mon coeur."</h5>

  <h6 class="text-center" style='Arial'>I love you with all my heart.</h6>
  <center><a href='fr1preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>


<br></br>


  <h5 class="text-center" style='font-family:Cabin'>"Que mes baisers soient les mots d'amour que je ne te dis pas."</h5>
  <h6 class="text-center" style='Arial'>May my kisses be the words of love that I don't say.</h6>
  <center><a href='fr2preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>


<br></br>


  <h5 class="text-center" style='font-family:Cabin'>"Quand tu me prends dans les bras</h5>
  <h5 class="text-center" style='font-family:Cabin'>Tu me parles tout bas</h5>
  <h5 class="text-center" style='font-family:Cabin'>Je vois la vie en rose."</h5>
  &nbsp;
  <h6 class="text-center" style='Arial'>When you take me in your arms</h6>
  <h6 class="text-center" style='Arial'>and speak to me softly</h6>
  <h6 class="text-center" style='Arial'>I see the world through rose coloured glasses.</h6>
  <h6 class="text-center" style='Arial'>{Lyrics from Edith Piaf's <em>La Vie en Rose</em>}</h6>
  <center><a href='fr3preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>


<br></br>

  <h5 class="text-center" style='font-family:Cabin'>"Le ciel bleu sur nous peut s'effondrer</h5>
  <h5 class="text-center" style='font-family:Cabin'>Et la terre peut bien s'écrouler</h5>
  <h5 class="text-center" style='font-family:Cabin'>Peu m'importe si tu m'aimes."</h5>
  &nbsp;
  <h6 class="text-center" style='Arial'>The blue sky over us can collapse</h6>
  <h6 class="text-center" style='Arial'>and the ground can cave in</h6>
  <h6 class="text-center" style='Arial'>little matters to me if you love me.</h6>
  <h6 class="text-center" style='Arial'>{Lyrics from Edith Piaf's <em>L'hymne à l'Amour</em>}</h6>
  <center><a href='fr4preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>

<br></br>


  <h5 class="text-center" style='font-family:Cabin'>"Chaque jour je t'aime davantage;</h5>
  <h5 class="text-center" style='font-family:Cabin'>Aujourd'hui plus qu'hier</h5>
  <h5 class="text-center" style='font-family:Cabin'>et bien moins que demain."</h5>
  &nbsp;
  <h6 class="text-center" style='Arial'>Each day I love you more;</h6>
  <h6 class="text-center" style='Arial'>today more than yesterday</h6>
  <h6 class="text-center" style='Arial'>and much less than tomorrow.</h6>
  <h6 class="text-center" style='Arial'>{Couplet from Rosemonde Gérard's poem <em>L'éternelle Chanson</em>}</h6>
  <center><a href='fr5preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>

<br></br>








<!--FORM VERSION

&nbsp;
<br></br>

<center><h3 style='font-family: Lobster'>Step 2: Choose a message</h3></center>

<br></br>

<center><div class='row'>
<div class="col-md-8 col-md-offset-2">
<form method='post'>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios1" value="1" checked>
    <h5 class="text-center" style='font-family:Cabin'>"Je t'aime de tout mon coeur."</h5>
  </label>
  <h6 class="text-center" style='Arial'>I love you with all my heart.</h6>
  <center><a href='fr1preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
  </div>

<br></br>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios1" value="2">
    <h5 class="text-center" style='font-family:Cabin'>"Que mes baisers soient les mots d'amour que je ne te dis pas."</h5>
  </label>
  <h6 class="text-center" style='Arial'>May my kisses be the words of love that I don't say.</h6>
  <center><a href='fr2preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
  </div>

<br></br>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios2" value="3">
    <h5 class="text-center" style='font-family:Cabin'>"Quand tu me prends dans les bras / Tu me parles tout bas / Je vois la vie en rose."</h5>
  </label>
  <h6 class="text-center" style='Arial'>When you take me in your arms / and speak to me softly / I see the world through rose coloured glasses.</h6>
  <center><a href='fr3preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
</div>

<br></br>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios2" value="4">
    <h5 class="text-center" style='font-family:Cabin'>"Le ciel bleu sur nous peut s'effondrer / Et la terre peut bien s'écrouler / Peu m'importe si tu m'aimes."</h5>
  </label>
  <h6 class="text-center" style='Arial'>The blue sky over us can collapse on itself / and the ground can cave in / little matters to me if you love me.</h6>
  <center><a href='fr4preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
</div>

<br></br>

<div class="radio">
  <label>
    <input type="radio" name="language" id="optionsRadios2" value="5">
    <h5 class="text-center" style='font-family:Cabin'>"Chaque jour je t'aime davantage / Aujourd'hui plus qu'hier / et bien moins que demain."</h5>
  </label>
  <h6 class="text-center" style='Arial'>Each day I love you more / today more than yesterday / and much less than tomorrow.</h6>
  <center><a href='fr5preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
</div>
</div>
</div>
<br></br>

</center>
</div>


<center><button type="submit" class="btn btn-danger">Continue</button></center>
</form>

</div>

&nbsp;-->