&nbsp;
<br></br>

<center><h3 style='font-family: Lobster'>Step 2: Choose a message</h3></center>

<br></br>

  <h5 class="text-center" style='font-family:Cabin'>"Ich liebe dich von ganzem herzen."</h5>
  <h6 class="text-center" style='Arial'>I love you with all my heart.</h6>
  <center><a href='g1preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>

<br></br>

  <h5 class="text-center" style='font-family:Cabin'>"Du bist die Liebe meines Lebens."</h5>
  <h6 class="text-center" style='Arial'>You are the love of my life.</h6>
  <center><a href='g2preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>


<br></br>

  <h5 class="text-center" style='font-family:Cabin'>"Ich will immer mit dir zusammen sein."</h5>
  </label>
  <h6 class="text-center" style='Arial'>I want to be with you forever.</h6>
  <center><a href='g3preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>

<br></br>

    <h5 class="text-center" style='font-family:Cabin'>"Ich liebe dich mit allen,</h5>
    <h5 class="text-center" style='font-family:Cabin'>die ich bin und alle bin ich überhaupt.</h5> 
    <h5 class="text-center" style='font-family:Cabin'>Sie sind mein Mond, meine Sonne und Sterne,</h5>
    <h5 class="text-center" style='font-family:Cabin'>meine Masse, mein Himmel, mein Meer."</h5>
  &nbsp;
  <h6 class="text-center" style='Arial'>I love you with all I am</h6>
  <h6 class="text-center" style='Arial'>And all I'll ever be.</h6>
  <h6 class="text-center" style='Arial'>You are my moon, my sun and stars,</h6>
  <h6 class="text-center" style='Arial'>My earth, my sky, my sea.</h6>
  <center><a href='g4preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>

<br></br>

    <h5 class="text-center" style='font-family:Cabin'>"Dû bist mîn, ich bin dîn:</h5>
    <h5 class="text-center" style='font-family:Cabin'>des solt dû gewis sîn.</h5> 
    <h5 class="text-center" style='font-family:Cabin'>Dû bist beslozzen</h5>
    <h5 class="text-center" style='font-family:Cabin'>in mînem herzen;</h5>
    <h5 class="text-center" style='font-family:Cabin'>verlorn ist daz sluzzelîn</h5>
    <h5 class="text-center" style='font-family:Cabin'>dû muost immer drinne sîn.</h5>

  &nbsp;
  <h6 class="text-center" style='Arial'>Thou art mine, I am thine</h6>
  <h6 class="text-center" style='Arial'>Certain of this, thou must be.</h6>
  <h6 class="text-center" style='Arial'>Locked thou art</h6>
  <h6 class="text-center" style='Arial'>within mine heart;</h6>
  <h6 class="text-center" style='Arial'>Wherein thou must ever be.</h6>
  <h6 class="text-center" style='Arial'>{Love poem of unknown authorship from 12th century}</h6>
  <center><a href='g5preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>


<br></br>



<!--FORM VERSION

&nbsp;
<br></br>

<center><h3 style='font-family: Lobster'>Step 2: Choose a message</h3></center>

<br></br>

<center><div class='row'>
<div class="col-md-8 col-md-offset-2">
<form method='post'>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios1" value="1" checked>
    <h5 class="text-center" style='font-family:Cabin'>"Ich liebe dich von ganzem herzen."</h5>
  </label>
  <h6 class="text-center" style='Arial'>I love you with all my heart.</h6>
  <center><a href='g1preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
  </div>

<br></br>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios1" value="2">
    <h5 class="text-center" style='font-family:Cabin'>"Du bist die Liebe meines Lebens."</h5>
  </label>
  <h6 class="text-center" style='Arial'>You are the love of my life.</h6>
  <center><a href='g2preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
  </div>

<br></br>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios1" value="3">
    <h5 class="text-center" style='font-family:Cabin'>"Ich will immer mit dir zusammen sein."</h5>
  </label>
  <h6 class="text-center" style='Arial'>I want to be with you forever.</h6>
  <center><a href='g3preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
  </div>

<br></br>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios2" value="4">
    <h5 class="text-center" style='font-family:Cabin'>"Ich liebe dich mit allen,</h5>
    <h5 class="text-center" style='font-family:Cabin'>die ich bin und alle bin ich überhaupt.</h5> 
    <h5 class="text-center" style='font-family:Cabin'>Sie sind mein Mond, meine Sonne und Sterne,</h5>
    <h5 class="text-center" style='font-family:Cabin'>meine Masse, mein Himmel, mein Meer."</h5>
  </label>
  &nbsp;
  <h6 class="text-center" style='Arial'>I love you with all I am</h6>
  <h6 class="text-center" style='Arial'>And all I'll ever be.</h6>
  <h6 class="text-center" style='Arial'>You are my moon, my sun and stars,</h6>
  <h6 class="text-center" style='Arial'>My earth, my sky, my sea.</h6>
  <center><a href='g4preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
</div>

<br></br>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios2" value="5">
    <h5 class="text-center" style='font-family:Cabin'>"Dû bist mîn, ich bin dîn:</h5>
    <h5 class="text-center" style='font-family:Cabin'>des solt dû gewis sîn.</h5> 
    <h5 class="text-center" style='font-family:Cabin'>Dû bist beslozzen</h5>
    <h5 class="text-center" style='font-family:Cabin'>in mînem herzen;</h5>
    <h5 class="text-center" style='font-family:Cabin'>verlorn ist daz sluzzelîn</h5>
    <h5 class="text-center" style='font-family:Cabin'>dû muost immer drinne sîn.</h5>
  </label>
  &nbsp;
  <h6 class="text-center" style='Arial'>Thou art mine, I am thine</h6>
  <h6 class="text-center" style='Arial'>Certain of this, thou must be.</h6>
  <h6 class="text-center" style='Arial'>Locked thou art</h6>
  <h6 class="text-center" style='Arial'>within mine heart;</h6>
  <h6 class="text-center" style='Arial'>Lost is the key,</h6>
  <h6 class="text-center" style='Arial'>Wherein thou must ever be.</h6>
  <center><a href='g5preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
</div>

<br></br>

</center>
</div>


<center><button type="submit" class="btn btn-danger">Continue</button></center>
</form>

</div>

&nbsp;-->