&nbsp;
<center><p><%= @lovername.capitalize %>,</p></center>
<center><p style='font-family:Cabin'>Kocham cię do gwiazd i z powrotem.</p></center>
&nbsp;
<center><img src="/29.3.jpg" class="img-rounded"/></center>
&nbsp;
<center><p><%= @name.capitalize %> x</p></center>
