
&nbsp;


<center><h2 style='font-family: Lobster'>Language Love Letters</h2></center>

<center><h5 style='font-family: Cabin'>{ Send personalized love messages in the language of your choice }</h5></center>

<!--<center>Love letters sent: <%= @count %></center>-->

&nbsp;

<center><img src='10.png' class='img-rounded'/></center>

&nbsp;


&nbsp;

<!--<center><a class='facebook' href='http://www.facebook.com/sharer.php?u=<?php the_permalink(); ?>&t=<?php the_title(); ?>' target='_blank' title='Share on Facebook'> <img src='fb.png'></a><a href='http://twitter.com/share?url=<?php the_permalink(); ?>&text=<?php the_title(); ?>&via=TWITTER-HANDLE' target='_blank' alt='Tweet This!' title='Tweet This!'><img src='tw.png'></a> <a href='http://twitter.com/share?url=<?php the_permalink(); ?>&text=<?php the_title(); ?>&via=TWITTER-HANDLE' target='_blank' alt='Tweet This!' title='Tweet This!'><img src='googlegrey6.png'></a></center>-->


<center><a class="btn btn-danger" href="options">Start</a></center>


&nbsp;



