&nbsp;
<br></br>

<center><h3 style='font-family: Lobster'>Step 2: Choose a message</h3></center>

<br></br>

  <h5 class="text-center" style='font-family:Cabin'>"Ti amo con tutto il mio cuore, la mia anima e la mia passione."</h5>
  <h6 class="text-center" style='Arial'>I love you with all my heart, soul and passion.</h6>
  <center><a href='it1preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>

<br></br>

  <h5 class="text-center" style='font-family:Cabin'>"Ti amo da qui alle stelle."</h5>
  <h6 class="text-center" style='Arial'>I love you to the stars.</h6>
  <center><a href='it2preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>

<br></br>

  <h5 class="text-center" style='font-family:Cabin'>"Giorno e notte sogno solo di te."</h5>
  <h6 class="text-center" style='Arial'>Day and night I dream only of you.</h6>
  <center><a href='it3preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>

<br></br>

  <h5 class="text-center" style='font-family:Cabin'>"Sei il grande amore della mia vita."</h5>
  <h6 class="text-center" style='Arial'>You are the love of my life.</h6>
  <center><a href='it4preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>

<br></br>

  <h5 class="text-center" style='font-family:Cabin'>"Siamo angeli con un’ala sola, solo restando abbracciati possiamo volare."</h5>
  <h6 class="text-center" style='Arial'>We are angels with only one wing; only embracing each other are we able to fly.</h6>
  <center><a href='it5preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>

<br></br>




<!--Form version

&nbsp;
<br></br>

<center><h3 style='font-family: Lobster'>Step 2: Choose a message</h3></center>

<br></br>

<center><div class='row'>
<div class="col-md-8 col-md-offset-2">
<form method='post'>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios1" value="1" checked>
    <h5 class="text-center" style='font-family:Cabin'>"Ti amo con tutto il mio cuore, la mia anima e la mia passione."</h5>
  </label>
  <h6 class="text-center" style='Arial'>I love you with all my heart, soul and passion.</h6>
  <center><a href='it1preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
  </div>

<br></br>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios2" value="2">
    <h5 class="text-center" style='font-family:Cabin'>"Ti amo da qui alle stelle."</h5>
  </label>
  <h6 class="text-center" style='Arial'>I love you to the stars.</h6>
  <center><a href='it2preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
</div>

<br></br>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios1" value="3">
    <h5 class="text-center" style='font-family:Cabin'>"In ogni momento in cui sono sveglio, ti penso; in ogni momento in cui dormo, ti sogno."</h5>
  </label>
  <h6 class="text-center" style='Arial'>Every moment I am awake, I think of you; every moment that I sleep, I dream of you.</h6>
  <center><a href='it3preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
  </div>

<br></br>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios2" value="4">
    <h5 class="text-center" style='font-family:Cabin'>"Sei il grande amore della mia vita."</h5>
  </label>
  <h6 class="text-center" style='Arial'>You are the love of my life.</h6>
  <center><a href='it4preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
</div>

<br></br>

<div class="radio">
  <label>
    <input type="radio" name="language" id="optionsRadios2" value="5">
    <h5 class="text-center" style='font-family:Cabin'>"Siamo angeli con un’ala sola, solo restando abbracciati possiamo volare."</h5>
  </label>
  <h6 class="text-center" style='Arial'>We are angels with only one wing; only embracing each other are we able to fly.</h6>
  <center><a href='it5preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
</div>
</div>
</div>
<br></br>

</center>
</div>


<center><button type="submit" class="btn btn-danger">Continue</button></center>
</form>

</div>

&nbsp;-->