&nbsp;
<center><p><%= @lovername.capitalize %>,</p></center>
&nbsp;
<center><p>Cada día te quiero más que ayer</p></center>
<center><p>y menos que mañana.</p></center>
&nbsp;
<center><img src="/14.jpg" class="img-rounded"/></center>
<br></br>
&nbsp;
<center><p><%= @name.capitalize %> x</p></center>
