<br></br>
<br></br>
<center><p>Sabes que estoy colgando en tus manos, <%= @lovername.capitalize %>,</p></center>
<center><p>asi que no me dejes caer.</p></center>
<br></br>
<center><img src="/23.jpg" class="img-rounded"/></center>
<br></br>
<center><p><%= @name.capitalize %> x</p></center>

