<br></br>
&nbsp;
<center><p>Sabes que estoy colgando en tus manos, Romeo,</p></center>
<center><p>asi que no me dejes caer.</p></center>
<br></br>
<center><img src="23.jpg" class="img-rounded"/></center>
<br></br>
<center><p>Julieta x</p></center>

<div class="row">
<div class="col-md-4">
<center><a class="btn btn-danger btn-xs" href="spanishromance">Back</a></center>
</div>
<div class="col-md-4 col-md-offset-4">
<center><a class="btn btn-danger btn-xs" href="sp4">Continue</a></center>
</div>
</div>
&nbsp;

