&nbsp;
<center><p><%= @lovername.capitalize %>, </p></center>
<center><p>Ich liebe dich mit allen,</p></center>
<center><p>die ich bin und alle bin ich überhaupt.</p></center>
<center><p>Sie sind mein Mond, meine Sonne und Sterne,</p></center>
<center><p>meine Masse, mein Himmel, mein Meer.</p></center>
&nbsp;
<center><img src="/1.5.png" class="img-rounded"/></center>
&nbsp;
<center><p><%= @name.capitalize %> x</p></center>
