<br></br>
<br></br>
<br></br>

<center><h3 style='font-family: Lobster'>Step 3: Enter your details</h3></center>

<br></br>



<center><form method='post'>
<div class="row">
  <div class="col-md-2 col-md-offset-5">

  <input type="text" class="form-control" name='your_name' placeholder="Your name">
  &nbsp;
  <input type="text" class="form-control" name='lover_name' placeholder="Lover's name">
 &nbsp;
 <input type="text" class="form-control" name="lover_email" placeholder="Lover's email">

</div>
</div>

<br></br>

<center><button type="submit" class="btn btn-danger">Send your love message!</button></center>

</form></center>

</div>