<br></br>



<center><h5 style='font-family: Cabin'>{ If you talk to a man in a language he understands, it goes to his head. If you talk to him in his own language, it goes to his heart. }</h5>
<h5 style='font-family: Cabin'>Nelson Mandela</h5></center>

<br></br>
<br></br>

<center><h3 style='font-family: Lobster'>Step 1: Choose a language</h3></center>

<br></br>

<center><form role="form" class="form-inline" method='post'>
<div class="radio">
  <label>
    <input type="radio" name="language" id="French" value="French" checked>
    French
  </label>
</div>
&nbsp;
<div class="radio">
  <label>
    <input type="radio" name="language" id="Spanish" value="Spanish">
    Spanish
  </label>
</div>
&nbsp;
<div class="radio">
  <label>
    <input type="radio" name="language" id="Italian" value="Italian">
    Italian
  </label>
</div>
&nbsp;
<div class="radio">
  <label>
    <input type="radio" name="language" id="German" value="German">
    German
  </label>
</div>
&nbsp;
<div class="radio">
  <label>
    <input type="radio" name="language" id="Polish" value="Polish">
    Polish
  </label>
</div>
&nbsp;
<div class="radio">
  <label>
    <input type="radio" name="language" id="Russian" value="Russian">
    Russian
  </label>
</div>
<br></br>
<br></br>
<button type="submit" class="btn btn-danger">Continue</button>
</form></center>


