<br></br>
<center><p><%= @lovername.capitalize %>,</p><center>
&nbsp;
<center><p>Ti amo con tutto il mio cuore, la mia anima e la mia passione.</p></center>
&nbsp;
<center><img src="/20.jpg" class="img-rounded"/></center>
&nbsp;
&nbsp;

<center><p><%= @name.capitalize %> x</p></center>
