&nbsp;
<br></br>

<center><h3 style='font-family: Lobster'>Step 2: Choose a message</h3></center>

<br></br>

<center><div class='row'>
<div class="col-md-8 col-md-offset-2">
<form method='post'>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios1" value="1" checked>
    <h5 class="text-center" style='font-family:Cabin'>"Kocham cię z całego serca."</h5>
  </label>
  <h6 class="text-center" style='Arial'>I love you with all my heart.</h6>
  <center><a href='pl1preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
  </div>

<br></br>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios2" value="2">
    <h5 class="text-center" style='font-family:Cabin'>"Kocham cię do gwiazd i z powrotem."</h5>
  </label>
  <h6 class="text-center" style='Arial'>I love you to the stars and back.</h6>
  <center><a href='pl2preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
</div>

<br></br>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios1" value="3">
    <h5 class="text-center" style='font-family:Cabin'>"Zawsze bedziesz w moim sercu."</h5>
  </label>
  <h6 class="text-center" style='Arial'>You'll always be in my heart.</h6>
  <center><a href='pl3preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
  </div>

<br></br>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios1" value="4">
    <h5 class="text-center" style='font-family:Cabin'>"Chcę być z tobą na zawsze."</h5>
  </label>
  <h6 class="text-center" style='Arial'>I want to be with you forever.</h6>
  <center><a href='pl4preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
  </div>

<br></br>



<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios2" value="5">
    <h5 class="text-center" style='font-family:Cabin'>"Ja dla ciebie wszystko zrobię / jeśli tego chcesz / będę zawsze wciąż przy tobie / dobrze o tym wiesz. "</h5>
  </label>
  <h6 class="text-center" style='Arial'>I'll do anything for you / if that's what you want / I'll always be by your side / you know this to be true. </h6>
  <center><a href='pl5preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
</div>

<br></br>

</center>
</div>


<center><button type="submit" class="btn btn-danger">Continue</button></center>
</form>

</div>

&nbsp;