<br></br>
<center><p><%= @lovername.capitalize %>,</p><center>
<center><p style='font-family: Cabin'>Я полюбил тебя с первого взгляда.</p></center>
&nbsp;
<center><img src="/1.4.png" class="img-rounded"/></center>
&nbsp;
&nbsp;

<center><p><%= @name.capitalize %> x</p></center>
