&nbsp;
<center><p><%= @lovername.capitalize %>,</p></center>
<center><p style='font-family:Cabin'>Я помню чудное мгновенье:</p></center>
<center><p style='font-family:Cabin'>Передо мной явилась ты,</p></center>
<center><p style='font-family:Cabin'>Как мимолетное виденье,</p></center>
<center><p style='font-family:Cabin'>Как гений чистой красоты.</p></center>
&nbsp;
<center><img src="/20.jpg" class="img-rounded"/></center>
&nbsp;
<center><p><%= @name.capitalize %> x</p></center>
