&nbsp;
<center><p><%= @lovername.capitalize %>,</p></center>
<center><p>Quand tu me prends dans les bras</p></center>
<center><p>Tu me parles tout bas</p></center>
<center><p>Je vois la vie en rose.</p></center>
&nbsp;
<center><img src="/1.4.png" class="img-rounded"/></center>
&nbsp;
<center><p><%= @name.capitalize %> x</p></center>

