&nbsp;
<br></br>

<center><h3 style='font-family: Lobster'>Step 2: Choose a message</h3></center>

<br></br>

<br></br>

<center><div class='row'>
<div class="col-md-8 col-md-offset-2">
<form method='post'>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios1" value="1" checked>
    <h5 class="text-center" style='font-family:Cabin'>"Я люблю тебя всем сердцем."</h5>
  </label>
  <h6 class="text-center" style='Arial'>I love you with all my heart.</h6>
  <center><a href='r1preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
  </div>

<br></br>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios1" value="2">
    <h5 class="text-center" style='font-family:Cabin'>"Я полюбил тебя с первого взгляда."</h5>
  </label>
  <h6 class="text-center" style='Arial'>I fell in love with you from the moment I saw you.</h6>
  <center><a href='r2preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
  </div>

<br></br>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios2" value="3">
    <h5 class="text-center" style='font-family:Cabin'>"Quand tu me prends dans les bras / Tu me parles tout bas / Je vois la vie en rose."</h5>
  </label>
  <h6 class="text-center" style='Arial'>When you take me in your arms / and speak to me softly / I see the world through rose coloured glasses.</h6>
  <center><a href='r3preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
</div>

<br></br>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios2" value="4">
    <h5 class="text-center" style='font-family:Cabin'>"Le ciel bleu sur nous peut s'effondrer / Et la terre peut bien s'écrouler / Peu m'importe si tu m'aimes."</h5>
  </label>
  <h6 class="text-center" style='Arial'>The blue sky over us can collapse on itself / and the ground can cave in / little matters to me if you love me.</h6>
  <center><a href='r4preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
</div>

<br></br>

<div class="radio">
  <label>
    <input type="radio" name="language" id="optionsRadios2" value="5">
    <h5 class="text-center" style='font-family:Cabin'>"Chaque jour je t'aime davantage / Aujourd'hui plus qu'hier / et bien moins que demain."</h5>
  </label>
  <h6 class="text-center" style='Arial'>Each day I love you more / today more than yesterday / and much less than tomorrow.</h6>
  <center><a href='r5preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
</div>
</div>
</div>
<br></br>

</center>
</div>


<center><button type="submit" class="btn btn-danger">Continue</button></center>
</form>

</div>

&nbsp;