<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<center><h1 style='font-family: Lobster'>Thanks <%= @yourname.capitalize %>, your love message has been sent!</h1></center>
&nbsp;

<center><p style='font-family: Cabin'>We have now sent a total of <%= @count %> love letters!</p></center>

&nbsp;

<center><a class="btn btn-danger" href="/">Home</a></center>


