<br></br>

<center><h3 style='font-family: Lobster'>Step 2: Choose a message</h3></center>

<br></br>

  <h5 class="text-center" style='font-family:Cabin'>"Te amo con todo mi corazón."</h5>
  <h6 class="text-center" style='Arial'>I love you with all my heart.</h6>
  <center><a href='sp1preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>


<br></br>


  <h5 class="text-center" style='font-family:Cabin'>"Te quiero hasta las estrellas ida y vuelta."</h5>
  <h6 class="text-center" style='Arial'>I love you to the stars and back.</h6>
  <center><a href='sp2preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>


<br></br>

  <h5 class="text-center" style='font-family:Cabin'>"No cambiaría un minuto de ayer contigo por cien años de vida sin ti."</h5>
  <h6 class="text-center" style='Arial'>I wouldn't change a minute with you to a hundred years of life without you.</h6>
  <center><a href='sp3preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>

<br></br>


  <h5 class="text-center" style='font-family:Cabin'>"Sabes que estoy colgando en tus manos, asi que no me dejes caer."</h5>
  </label>
  <h6 class="text-center" style='Arial'>You know that I am hanging in your hands, so don't let me fall.</h6>
  <center><a href='sp4preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>


<br></br>

  <h5 class="text-center" style='font-family:Cabin'>"Cada día te quiero más que ayer y menos que mañana."</h5>
  <h6 class="text-center" style='Arial'>Each day I love you more than yesterday and less than tomorrow.</h6>
  <center><a href='sp5preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>

<br></br>


<!-- FORM VERSION

&nbsp;
<br></br>

<center><h3 style='font-family: Lobster'>Step 2: Choose a message</h3></center>

<br></br>

<br></br>

<center><div class='row'>
<div class="col-md-8 col-md-offset-2">
<form method='post'>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios1" value="1" checked>
    <h5 class="text-center" style='font-family:Cabin'>"Te amo con todo mi corazón."</h5>
  </label>
  <h6 class="text-center" style='Arial'>I love you with all my heart.</h6>
  <center><a href='sp1preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
  </div>

<br></br>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios1" value="2">
    <h5 class="text-center" style='font-family:Cabin'>"Te quiero hasta las estrellas ida y vuelta."</h5>
  </label>
  <h6 class="text-center" style='Arial'>I love you to the stars and back.</h6>
  <center><a href='sp2preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
  </div>

<br></br>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios2" value="3">
    <h5 class="text-center" style='font-family:Cabin'>"No cambiaría un minuto de ayer contigo por cien años de vida sin ti."</h5>
  </label>
  <h6 class="text-center" style='Arial'>I wouldn't change a minute with you to a hundred years of life without you.</h6>
  <center><a href='sp3preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
</div>

<br></br>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios1" value="4">
    <h5 class="text-center" style='font-family:Cabin'>"Sabes que estoy colgando en tus manos, asi que no me dejes caer."</h5>
  </label>
  <h6 class="text-center" style='Arial'>You know that I am hanging in your hands, so don't let me fall.</h6>
  <center><a href='sp4preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
  </div>

<br></br>

<div class="radio">
  <label>
    <input type="radio" name="message" id="optionsRadios2" value="5">
    <h5 class="text-center" style='font-family:Cabin'>"Cada día te quiero más que ayer y menos que mañana."</h5>
  </label>
  <h6 class="text-center" style='Arial'>Each day I love you more than yesterday and less than tomorrow.</h6>
  <center><a href='sp5preview' style='font-size: 12px'>[preview]</a></center>
  <center>&hearts;</center>
</div>
</div>
</div>
<br></br>

</center>
</div>


<center><button type="submit" class="btn btn-danger">Continue</button></center>
</form>

</div>

&nbsp;-->