&nbsp;
<center><p><%= @lovername.capitalize %>,</p></center>
&nbsp;
<center><p>Sei il grande amore della mia vita.</p></center>
&nbsp;
<center><img src="14.jpg" class="img-rounded"/></center>
<br></br>
<center><p><%= @name.capitalize %> x</p></center>
