&nbsp;
<center><p><%= @lovername.capitalize %>,</p><center>
<center><p>Siamo angeli con un’ala sola, solo restando abbracciati possiamo volare.</p></center>
&nbsp;
<center><img src="4.1.jpg" class="img-rounded"/></center>
&nbsp;
&nbsp;

<center><p><%= @name.capitalize %> x</p></center>