<br></br>
&nbsp;
<center><p><%= @lovername.capitalize %>,</p></center>
<center><p style='font-family:Cabin'>Chcę być z tobą na zawsze.</p></center>
&nbsp;
<center><img src="/14.jpg" class="img-rounded"/></center>
<br></br>
<center><p><%= @name.capitalize %> x</p></center>