&nbsp;
<center><p>Romeo, </p></center>
<center><p style='font-family:Cabin'>Chcę być z tobą na zawsze.</p></center>
&nbsp;
<center><img src="14.jpg" class="img-rounded"/></center>
&nbsp;
<center><p>Juliet x</p></center>

<div class="row">
<div class="col-md-4">
<center><a class="btn btn-danger btn-xs" href="polishromance">Back</a></center>
</div>
<div class="col-md-4 col-md-offset-4">
<center><a class="btn btn-danger btn-xs" href="pl4">Continue</a></center>
</div>
</div>
&nbsp;